{% extends 'base.html' %}

{% block content %}
  <!-- Featured Section -->
  <section class="w-full mx-auto mt-10 px-6">
    <div class="max-w-7xl mx-auto px-6 pb-16 text-center">
        <h1 class="text-3xl font-bold text-green-700 mb-6">About Us</h1>
<div class="max-w-3xl mx-auto py-12">

  <p class="text-white-700 leading-relaxed mb-4">
    MyBlog is a personal blogging platform where writers share ideas,
    experiences, and knowledge on various topics.
  </p>

  <p class="text-white-700 leading-relaxed">
    Built with Django and Tailwind CSS, this blog focuses on simplicity,
    performance, and clean design.
  </p>
</div>

    </div>
  </section>

{% endblock %}
