
{% extends "base.html" %}

{% block content %}
        <div class="bg-white m-8 p-6 rounded-lg">
            <h1 class="text-2xl text-green-700">{{ post.title }}</h1>
            <div class="flex justify-between items-center">
                <p class="text-sm text-gray-500 mb-2">
                    <strong>Author:</strong> {{ post.author }}
                </p>
            {% if request.user == post.author %}
            <a href="{% url 'post_edit' post.pk %}" 
              class="hover:text-green-600 text-green-800 mr-5 md:mr-10"
              >Update Post</a>
              {% endif %}
            </div>
            <p class="text-sm text-gray-500">
                {{ post.created_at|date:"F j, Y, g:i a" }}
            </p>
            <div class=" py-[5rem] px-[1rem] bg-green-100 rounded-lg my-8">
                <p class="whitespace-pre-line">{{ post.content }}</p>
            </div>
        </div>

        {% endblock content %}